// Basic styling

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: white;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
