// Layout

main {
  display: inline-block;
  width: 65%;
  position: relative;
}

#strip-middle {
  display: inline-block;
  width: 20%;
  position: relative;
}

#strip-right {
  display: inline-block;
  width: 15%;
  position: relative;
}

#strip-double {
  display: inline-block;
  width: 35%;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  #strip-right {
    display: none;
  }

  #strip-middle {
    width: 30%;
  }

  #strip-double {
    width: 30%;
  }

  main {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  #strip-middle {
    display: none;
  }

  #strip-double {
    display: none;
  }

  main {
    width: 100%;
  }
}
