// Shared styling

aside {
  height: 100%;

  span {
    background: rgb(115,23,147);
    background: linear-gradient(120deg, rgba(115,23,147,1) 0%, rgba(244,77,106,1) 100%);
    padding: 40px 30px;
  }

  p {
    color: white;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: $font-bold;
    background: white;
    padding: 8px 15px;
    color: $pink;
    margin: 20px 0 30px;
    border: 2px solid rgba(255,255,255,0);

    &:hover {
      background: none;
      border: 2px solid rgba(255,255,255,1);
      color: white;
    }
  }

  img {
    width: auto;
  }
}

// Middle strip styling

#strip-middle {
  background: url('/img/aaron.jpg') no-repeat;
  background-size: cover;

  span {
    position: absolute;
    bottom: 0;
  }
}


// Right strip styling

#strip-right {
  background: url('/img/drupalcon.jpg') no-repeat;
  background-size: cover;

  span {
    position: absolute;
    padding: 30px 20px;
  }
}

// Double width strip styling

#strip-double {

  .masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;

    .brick {
      margin-bottom: 30px;
      display: inline-block;
      vertical-align: top;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }

  .masonry.gutterless {
    column-gap: 0;

    .brick {
      margin-bottom: 0;
    }
  }
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}
