// Vars

$primary-color  :   #1d1d1d;
$pink           :   #902389;
$hotpink        :   rgb(244,77,106);


$white          :   white;
$black          :   black;

$text-default   :   #2d2d2d;
$text-light     :   #737373;

$work-ce        :   #4932E8;
$work-ctbto     :   #0292b2;
